* {
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Balsamiq Sans', cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
}

.summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.accordion__button:before {
  content: none !important;
}

.post-card,
footer {
  color: white;
}
